:root {
	/* Base font size */
	font-size: 24px;
	/*background: gray;*/
}
*{
	padding: 0;
	margin: 0;
}
.box{
	width: 1000px;
	margin: 0px auto;
	/*background: darkseagreen;*/
	text-align: center;
}

.big {
	position: relative;
	width: 30rem;
	height: 30rem;
	margin: 0 auto;
	perspective: 100rem;
	/*background: green;*/
}

.aaa {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: transform 1s cubic-bezier(0.32, 0.05, 0.35, 1.6);
}

.aaa img{
	position: absolute;
	width:600px;
	height: 600px;
	/*border-radius: 200px;*/
}
.bbb {
	display: block;
	position: absolute;
	/* opacity: 0.95; */
	box-shadow: 0 0 1px 3px orange;
	/*box-shadow: 0 0 0.5rem #fff, 
				0 0 1.5rem var(--border-color),
				0 0 3rem var(--border-color);*/
}

.abc {
	position: absolute;
	top: 0;
	right: 10px;
	width: 100px;
	margin-top:50px;
}

.abc input {
	width: 100px;
	border: 2px solid white;
}

.abc input:focus {
	border: 2px solid orange;
}




/* Transform images to create cube */

.a-1 {
	transform: translateZ(15rem);
}

.a-2 {
	transform: rotateX(-180deg) translateZ(15rem);
}

.a-3 {
	transform: rotateY(90deg) translateZ(15rem);
}

.a-4 {
	transform: rotateY(-90deg) translateZ(15rem);
}

.a-5 {
	transform: rotateX(90deg) translateZ(15rem);
}

.a-6 {
	transform: rotateX(-90deg) translateZ(15rem);
}




/* Transform cube to show correct image */

.aaa{
	transform: translateZ(-15rem) translateY(-2rem) rotateX(-15deg) rotateY(18deg) rotateZ(2deg);
}

.aaa.b-1 {
	transform: translateZ(-15rem);
}

.aaa.b-2 {
	transform: translateZ(-15rem) rotateX(180deg);
}

.aaa.b-3 {
	transform: translateZ(-15rem) rotateY(-90deg);
}

.aaa.b-4 {
	transform: translateZ(-15rem) rotateY(90deg);
}

.aaa.b-5 {
	transform: translateZ(-15rem) rotateX(-90deg);
}

.aaa.b-6 {
	transform: translateZ(-15rem) rotateX(90deg);
}
